

/* Apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure {
	float: left;
	width: 400px;
  font-family: sans-serif;

  margin: 5px;
  margin-bottom: 2px;
  border: 1px solid black;
}

.canvas {
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
  background: white;
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.point {
	fill: rgb(255,166, 0);
	stroke: rgb(227,121,0);
	stroke-width: 2px;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}
